// responsive.scss

@mixin mobileV() {
  @media screen and ( min-width:320px) and ( max-width:480px) {
    
  }
}
@mixin tabletV() {
  @media screen and ( min-width:481px) and ( max-width:768px) {
    #pub_header { min-width:481px; max-width:768px; 
      &>.form_area{ float:left; @include conUnit( padding, 10); box-sizing:border-box; @include conUnit( width, 400); @include conUnit( height, 100); @include conUnit( margin-left, 20); background-color: $primary; 
        &>form{ @include fullBox; 
          & input{ float:left; @include conUnit( width, 300); @include conUnit( height, 80); }
          & button{ float:right; @include conUnit( width, 80); @include conUnit( height, 80); background-color: #7bf; }
          } //form 
        } // form_area
      } //pub_header
      &>.menu_area{ display:block;}
  } //media screen
}
@mixin labtopV() {
  @media screen and ( min-width:769px) and ( max-width:1280px) {
    min-width:769px;
    max-width:1280px;   
  }
}
@mixin desktopV() {
  @media screen and ( max-width:1920px) {
    min-width:1281px;
    max-width:1920px;   
  }
}